<link rel="stylesheet" href="{{ asset('assets/css/header.css') }}" type="text/css" />

<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="{{ path('app_home') }}">
                <img src={{ asset("assets/images/logo_knowledge.png") }} alt="Logo Knowledge" class="logo">
            </a>
        </div>

        <div class="header-nav">

            <ul class="liste">
                <li><a href="{{ path('app_home') }}" class="{% if app.request.get('_route') == 'app_home'%}active{% endif%}">Accueil</a></li>  
                {% if app.user %} 

                {% else %}
                <li><a href="{{ path('app_login') }}" class="{% if app.request.get('_route') == 'app_login'%}active{% endif%}">Connexion</a></li>
                <li><a href="{{ path('app_register') }}" class="{% if app.request.get('_route') == 'app_register'%}active{% endif%}">Inscription</a></li>
                {% endif%} 
            </ul>

        </div>
    </div>
</header>