{% extends 'base.html.twig' %} 

{% block title %}{{ lesson.nameLesson }}{% endblock %} 

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/detailLesson.css') }}" type="text/css" />


<div class="container d-flex flex-column align-items-center my-3">
  <div class="row">
    <div class="block">
      <h1>{{ lesson.nameLesson }}</h1>

      <div class="block-center">
        <p>{{ lesson.content }}</p>
        <video src="{{ asset('assets/uploads/videos/' ~ lesson.videoUrl) }}" controls></video>
      </div>

      <div class="button">
      <button type="submit " class="btn mt-3">Valider le cour</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}